Package: fizmo-ncursesw-dbgsym
Source: fizmo-ncursesw
Version: 0.7.10-3
Architecture: amd64
Maintainer: Christoph Ender <christoph.ender@spellbreaker.org>
Installed-Size: 96
Depends: fizmo-ncursesw (= 0.7.10-3)
Section: debug
Priority: extra
Homepage: https://fizmo.spellbreaker.org/
Description: Debug symbols for fizmo-ncursesw
Auto-Built-Package: debug-symbols
Build-Ids: 91c9ee71359debc1555204f5e159785b19d827a6
